body {
	margin: 5rem;
}
span{
	font-family: 'ZCOOL KuaiLe', cursive;
	color: white;
	text-align: left;
}
#pokedex {
	width: 100%;
	max-width: 40rem;
	height: 100%;
	background-color: black;
}

.row{
	display: flex;
	flex-direction: row;
}

.col{
	display: flex;
	flex-direction: column;
}

